html,
body {
    height: 100%;
    background-size: 100%;
    text-decoration: none;
}

.global-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.login-form {
    width: 400px;
    height: 500px;
    padding: 50px;
    background-color: #f8f8ff !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 10px #000000;
}

.signup-form {
    width: 400px;
    height: 600px;
    padding: 50px;
    background-color: #f8f8ff !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 10px #000000;

}

input[type="email"],
input[type="password"] {
    background: #c8cbcd;
    color: rgb(0, 0, 0);
    border: 1px solid #7A7A7A;
    border-radius: 3px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background-color: #e3e3e3;
    color: rgb(0, 0, 0);
    margin: 0;
}

.card-title {
    font-weight: 800;
    padding-bottom: 20px;
}

.btn {
    background: #000000;
    color: #e3e3e3;
    transform: translateY(10px);
    font-size: 14px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: salmon;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    width: 700px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}